/* https://www.youtube.com/watch?v=6CQ7DYni7Bg */
/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Lora', serif;
font-family: 'Prompt', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Dosis', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Abril Fatface', cursive;
*/

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 5vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;

}

header h1 {
    margin-top: -100px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 5em;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("padrao1.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-family: 'Crimson Text';
}

/*main {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

main::before {
    bottom: 0;
    content: "";
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    display: block;
    background-image: url("padrao2.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}
*/

.embrulho{
    
    font-family: 'Lora';
    padding: 0 15px;
    color: rgb(59,55,52);
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
    max-width: 600px;
    display: block;
    margin: 0 auto;   
    border-radius: 1%;
}

.embrulho > h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
}

.embrulho > h2 > span {
    border-bottom: 5px solid rgb(212, 190, 149);
    padding-bottom: 5px;
}


span.especial {
    color: rgb(212, 190, 149);
}